* {
  font-family: Arial;
}

.green-btn {
  padding: 8px 12px;
  background-color: #5cb85f;
  color: #ffffff;
  border-radius: 2px;
  border: none !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none !important;
  cursor: pointer;
}

.green-btn:hover {
  background-color: #2b862e;
}

.section-title {
  max-width: 468px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.section-desc {
  color: #000;
  max-width: 468px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.brand-logo {
  width: 100px;
  height: 34px;
  background-color: #0d28a6;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
